=form_for @new_contact do |f|
  .ul
    .li
      =f.label :first_name
    .li
      =f.text_field :first_name
    .li
      =f.label :last_name
    .li
      =f.text_field :last_name
    .li
      =f.label :email
    .li
      =f.text_field :email
    .li
      =f.label :phone_number
    .li
      =f.text_field :phone_number
    .li
      =f.submit
