<form action="" method="get" id="search-form">

    <div>
        <label for="q">Search address book</label>
        <input type="search" id="q" name="q" required placeholder="type a name" autocomplete="off">
    </div>

    <div class="button-group">
        <button type="submit" id="search-btn">search</button>
        <button type="button" id="get-all">get all contacts</button>
    </div>

</form>

<div id="output" aria-automatic="true" aria-live="polite" aria-relevant="additions removals"></div>

<%= javascript_include_tag "application" %>
<%= javascript_include_tag "addressbook" %>

<script type="text/javascript">
  $(document).ready(function() {
      $('#q').contactSearcher();
  });
</script>

